<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category.capitalize %></p>
  <%= link_to "Write a review", new_restaurant_review_path(@restaurant.id) %>
  <%= render template: "reviews/new", restaurant: @restaurant, review: @review  %>
  <div class="reviews">
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %> --- <%= link_to "Delete", review_path(@restaurant.reviews), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
    <% end %>
  </div>
</div>
